html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.content-sizing {
  max-width: 1240px;
  width: 100%;
}

.line {
  padding: 8px 0;
  border-right: 1px solid;
  border-color: rgb(247, 247, 247);
  margin: 0px 15px;
}